<link rel="stylesheet" href="/css/user_profile.css">
<h1>
    Codeial / Profile Page
</h1>   

<img src="<%= locals.user.avatar %>" alt="<%= user.name %>" width="100">

<% if(profile_user != null && locals.user.id == profile_user.id){ %>
    <!-- If user matches show the form -->
    <form action="/users/update/<%= profile_user.id %>" enctype="multipart/form-data" method = "POST">
        <input type="text" name="name" placeholder="Enter your Name" value="<%= profile_user.name %>" required>
        <input type="email" name="email" placeholder="Enter your Email" value="<%= profile_user.email %>" required>
        <input type="file" name="avatar" placeholder="Profile Picture">
        <input type="submit" value="Update">
    </form>
<%}else{%>
    <!-- Else show only the profile info -->
    <p><%= profile_user.name %></p>
    <p><%= profile_user.email %></p> 
    <form action="/friends/add/?id=<%= profile_user.id %>" method="POST">
        <input type="submit" value="Add Friend">
    </form>
<%}%>    